<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        
        <a class="footer-heading" href="https://www.mdc-berlin.de/bimsb"><img src="/assets/img/bimsb.png" vspace="5" hspace="5" align="middle" height="62" width="250"></a>
        
      </div>
<div>
      </div>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            {% if site.google_scholar.user %}
            <li><a href=https://scholar.google.com/citations?user={{site.google_scholar.user}}><img src="/assets/img/google_scholar.png" height="17" width="17" align="middle">
              {% if site.google_scholar.name %}
                {{site.google_scholar.name}}
              {% else %}
                Google Scholar
              {% endif %}
             </a> 
          </li>
              {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        
      </div>

    </div>

  </div>

</footer>
